<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHKFLUbgHOCIStmEjN9YcoCIWMKo0ct4I</string>
	<key>GCM_SENDER_ID</key>
	<string>861476572330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caswar.casinowar.casinowar</string>
	<key>PROJECT_ID</key>
	<string>amonblock</string>
	<key>STORAGE_BUCKET</key>
	<string>amonblock.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861476572330:ios:9df7fc582ec651ade154d3</string>
</dict>
</plist>